.movieDetailsPage {
    margin: 0 auto;
    padding: 15px;
}

.buttonBack {
    width: 100px;
    height: 30px;
    border: none;
    margin-bottom: 20px;
    background-color: rgba(18, 184, 170, 0.185);
    box-shadow: 3px 5px 5px rgba(18, 184, 170, 0.486);
}

.buttonBack:hover,
.buttonBack:focus {
    background-color: rgba(18, 184, 170, 0.486);
    box-shadow: 3px 5px 5px rgba(18, 184, 170, 0.185);
    cursor: pointer;
    border-radius: 2px;
}

.thumb {
    display: flex;
    justify-content: left;
}

.filmDetails {
    max-width: 600px;
    margin-left: 15px;
}

.link {
    color: rgba(18, 184, 170);
    list-style: square;
    margin-bottom: 8px;
    font-size: 16px;
}
img {
    border-radius: 4px;
    object-fit: cover;
}
