a:link {
    color: rgb(9, 156, 144);
    outline: none;
    text-decoration: none;
}
a:visited {
    color: rgb(39, 160, 150);
}
a:hover {
    color: rgb(67, 105, 102);
    border-bottom: 0.07em solid;
}
a:active {
    color: rgb(20, 99, 92);
}

.Container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}
